nbproject/
.idea/
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
composer.phar
composer.lock